body {
  font-family: 'Quattrocento Sans', helvetica, sans-serif;
  color: white;
}

h1, h2, h3, p {
  padding: 10px 0;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}