body {
  font-family: 'Quattrocento Sans', helvetica, sans-serif;
  color: white;
}

h1, h2, h3, p {
  padding: 10px 0;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 0.8em;
  }
}