#logo {
  width: 100%;
  max-width: 600px;
}

#iphone {
  width: 100%;
  max-width: 600px;
}

#about {
  margin-left: -2px;
}

#downloads {
  padding-bottom: 40px;
}

.dl:first-child {
  margin-right: 5%;
}

.dl {
  width: 40%;
}

.dl:hover{
  cursor: pointer;
}

#iphone_wrap {
  position: relative;
  width: 100%;
}

#cycle {
  position: absolute;
  top: 15%;
  right: 8%;
  height: 70.5%;
  width: 83%;
  background-color: yellow;
}