#section_4 .up {
  float: left;
  margin-left: 0;
  margin-top: 40%;
}

#section_4 video {
  position: absolute;
  bottom: 0px; 
  right: 0px; 
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto; 
  z-index: -1000; 
  overflow: hidden
  z-index: -1;
}