#logo {
  width: 100%;
  max-width: 600px;
}

#iphone {
  width: 100%;
  max-width: 600px;
}

#about {
  margin-left: -2px;
}

#downloads {
  padding: 40px 0;
}

.dl:first-child {
  margin-right: 5%;
}

.dl {
  width: 40%;
}