html, body {
  height: 100%;
  width: 100%;
  background-color: #01193F;
}

#section_1, #section_2, #section_3, #section_4 {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

#section_1 {
  background-color: #01193F;
}

#section_2 {
  background-color: #088FFF;
}

#section_3 {
  background-color: #DC9F09;
}

#section_4 {
  background-color: black;
  z-index: 4;
}

.wrap {
  margin: 0 auto;
  max-width: 1080px;
  padding: 8% 8%;
  overflow: hidden;
}

#section_1 .wrap {
  padding: 4% 8%;
}

.left {
  float: left;
  width: 64%;
}

.right {
  float: right;
  max-width: 30%;
  overflow: hidden;
}

.text_block {
  width: 100%;
  padding-bottom: 40px;
}

.down {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
  text-align: center;
  float: left;
  margin-right: 40px;
}

.down:hover, .up:hover {
  cursor: pointer;
}

.arrow_down {
  margin-top: 30px; 
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.0px 15px 0 15px;
  border-color: white transparent transparent transparent;
}

.arrow_right {
  margin: 0 20px 4px 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 12.1px;
  border-color: transparent transparent transparent white;
}

.border {
  border: solid black 1px;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
  right: 12%;
}

.relative {
  position: relative;
}

.centered {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}